/* variables for colors used in code */
:root {
    --MainColor: rgba(75, 96, 77, 1);
    --AltColor: rgba(100, 122, 101, 1);
    --NeutColor: rgba(212, 195, 179, 1);
    --Neut1Color: rgba(232, 214, 194, 1);
    --HighlightColor: rgba(149, 78, 72, 1);
    --FunFont: 'Cinzel Decorative', cursive;
    --MonoFont: 'Syne Mono', monospace;
    --SansFont: 'Dosis', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

body,
html {
    position: absolute;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

/*--- navigation header ---*/
nav {
    background-color: var(--MainColor);
    position: fixed;
    top: -50px;
    margin: 0;
    width: 100%;
    height: 100px;
    z-index: 998;
    transform: skewY(2deg);
}

.link {
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 999;
    display: inline;
    width: 90%;
    text-align: right;
    letter-spacing: 1px;
    font-family: var(--MonoFont);
    font-size: 15px;
    font-weight: bold;
}

.link a {
    color: var(--NeutColor);
    cursor: pointer;
    padding: 0 10px;
}

/*--- index image / content ---*/
header,
#projects {
    width: 100%;
    height: 89vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
        url('../images/desktop.avif');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
    margin: 0;
}

.flexCont {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

header h1 {
    font-family: var(--FunFont);
    color: var(--NeutColor);
    font-size: 70px;
    line-height: 100%;
    padding: 0;
    margin: 0;
}

header h2 {
    font-family: var(--SansFont);
    color: var(--Neut1Color);
    font-size: 25px;
    padding: 0;
    margin: 0;
}

header h6 {
    cursor: pointer;
    font-family: var(--MonoFont);
    font-size: 20px;
    position: absolute;
    bottom: 0;
}

header a {
    color: var(--HighlightColor);
}

/*--- mission statement / about us ---*/
#about {
    border: 1px solid #fff;
    color: var(--MainColor);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
        url('../images/keyboard.avif');
    background-size: cover;
    background-repeat: no-repeat;
    margin: -30px 0;
    transform: skewY(2deg);
}

.aboutContent {
    width: 80%;
    margin: 200px auto;
    font-family: var(--SansFont);
    font-size: 20px;
    text-align: center;
    transform: skewY(-2deg);
}

.aboutContent p {
    text-align: justify;
}

#about h1 {
    font-family: var(--FunFont);
    font-size: 40px;
    margin: 10px 0;
}

/*--- projects code ---*/

#projects {
    height: auto;
    text-align: center;
}

#projects h1 {
    font-family: var(--FunFont);
    font-size: 40px;
    color: var(--NeutColor);
}

.projFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    position: relative;
    margin: 0 20px 50px 20px;
}

/*--- project cards code ---*/

.projFlex a {
    flex: 1;
    flex-grow: 1;
    flex-basis: 22%;
    margin: 10px;
}

.projFlex a:first-child {
    flex-basis: 44%;
}

.projCard {
    width: 100%;
    min-height: 200px;
    border: 3px solid var(--AltColor);
    border-radius: 7px;
    box-shadow: 0 0 20px #000;
    background-size: cover;
    margin: 10px;
    transition: all .2s ease-in-out;
}

.projCard:hover {
    transform: scale(1.1);
}

.projCard h4 {
    background-color: var(--AltColor);
    color: #fff;
    font-family: var(--MonoFont);
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    margin: 130px auto 0 auto;
}

/*--- footer code ---*/
footer {
    position: absolute;
    width: 100%;
    height: 80px;
    padding: 20px 10px;
    margin-top: -50px;
    border: 1px solid var(--NeutColor);
    background-color: var(--NeutColor);
    color: var(--Neut1Color);
    transform: skewY(2deg);
    z-index: 900;
}

.footerContent {
    position: relative;
    width: 100%;
    border: 1px solid var(--NeutColor);
    background-color: var(--NeutColor);
    padding: 20px 10px;
    margin-top: 25px;
    font-family: var(--SansFont);
    font-size: 20px;
    text-align: center;
    color: var(--HighlightColor);
    z-index: 901;
}

.footerContent a {
    text-decoration: none;
    height: fit-content;
    padding: 0;
    margin: 0 10px;
}

.footerContent h3 {
    font-size: 20px;
    width: fit-content;
    margin: -50px auto 0 auto;
    border-bottom: 1px solid var(--HighlightColor);
}

.footerContact {
    font-size: 40px;
    margin: 10px;  
    display: inline-block;
    color: var(--HighlightColor);
}

.footerContact i {
    vertical-align: middle;
}

.footerContact:hover {
    color: var(--AltColor);
    transform: scale(1.1);
}

.footerContent h5 {
    margin: 0;
    font-size: 15px;
    display: inline-block;
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 992px) {
    .projFlex {
        margin: 0 10px 50px 10px;
    }

    .projFlex a {
        flex-basis: 30%;
    }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 768px) {
    .projFlex {
        margin: 0 10px 50px 10px;
    }

    .projFlex a {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 576px) {
    .link {
        right: 10px;
        width: 98%;
        font-size: 13px;
    }
    header h1 {
        font-size: 50px;
    }
    
    header h2 {
        font-size: 15px;
    }
    .projFlex {
        flex-flow: column;
        margin: 0 10px 50px 10px;
    }

    .projFlex a {
        width: 90%;
    }
}